@import "styles/variables.scss";

.TeamMember {
  text-align: center;
  background-color: white;
  // box-shadow: 0px 0px 5px 0px $color-gold;
  // padding: 1rem;
  background-image: url("~assets/images/leaves-pattern.png");
  border: 0.5rem solid $color-gold;
  box-sizing: border-box;
  margin-bottom: 2rem;

  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

  width: calc(100% - 1rem);

  @include tablet {
    width: 40%;
  }

  @include desktop {
    width: 30%;
  }

  img {
    max-height: 200px;
    border-radius: 50%;
    margin: 1rem 0rem;
  }

  .TeamMember__name {
    font-size: 2rem;
    line-height: 3rem;
    color: $color-gold;
    font-weight: bold;
    margin-top: 1rem;
  }

  .TeamMember__job {
    color: $color-brown;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 3rem;
  }

  .TeamMember__description {
    font-style: italic;
    background-color: $color-brown;
    color: white;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 1rem;
    box-shadow: 0px 0px 10px 0px #cacaca;
    flex-grow: 1;
  }
}
