@import "styles/variables.scss";

.SectionTitle {
  font-size: 5rem;
  color: $color-brown;
  font-weight: bold;
  padding-bottom: 1rem;
  margin-bottom: 2rem;

  align-items: center;
  position: relative;
  display: flex;

  h2 {
    font-size: 3rem;
    text-align: justify;
  }

  .SectionTitleDecoration {
    position: absolute;
    transition: all 0.5s ease;
    min-width: 2rem;
    height: 2rem;
    border: 0.3rem solid $color-gold;
    left: -5rem;
    display: none;
    align-items: center;

    @include desktop {
      display: flex;
      margin-left: -1rem;
    }

    &::after {
      content: "";
      width: 1000rem;
      margin-left: calc(-1000rem - 0.3rem);
      position: absolute;
      height: 0.3rem;
      background-color: $color-gold;
      border-bottom: 0.2rem solid $color-white;
    }
  }
}
