@import "styles/variables.scss";

.CatchPhrase {
  background-color: #0000007a;
  padding: 3rem;

  border-left: 1rem solid $color-gold;
  // border-right: 1rem solid $color-gold;
  margin-top: 6rem;
  margin-bottom: 6rem;

  .CatchPhrase__text {
    color: $color-gold;
    font-style: italic;
    font-weight: bold;
    font-size: 4rem;
    line-height: 4.5rem;
  }
}
