@import "styles/variables.scss";

.CompanyValue {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;

  @include tablet {
    flex-direction: row;
    &.reverse {
      flex-direction: row-reverse;
    }
  }

  @include desktop {
    flex-direction: row;
    &.reverse {
      flex-direction: row-reverse;
    }
  }

  .CompanyValue__title {
    font-size: 4rem;
    color: $color-gold;
    padding-bottom: 1rem;
  }

  .CompanyValue__content {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .CompanyValue__content__text {
      background-color: $color-white;
      padding: 1rem;
      border-radius: 0rem;
      line-height: 2rem;
      text-align: justify;
    }
  }

  img {
    max-height: 150px;
  }
}
