@import "styles/variables.scss";

.PageHero {
  &.withGradient {
    @include mobile {
      padding-bottom: 3rem;
    }

    background: rgb(51, 25, 0);
    background: linear-gradient(
      20deg,
      rgba(51, 25, 0, 1) 0%,
      rgba(221, 165, 32, 1) 38%,
      rgba(255, 255, 255, 1) 93%
    );
  }

  @include mobile {
    padding-top: 7rem;
  }

  @include tablet {
    padding-top: 7rem;
  }

  @include desktop {
    padding-bottom: 5rem;
    padding-top: 5rem;
    text-align: center;
    &.high {
      padding-bottom: 10rem;
      padding-top: 12rem;
    }
  }

  .Centered {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 2rem 0rem;
    @include desktop {
      align-items: center;
    }
  }

  .PageHero__title,
  .PageHero__secondtitle,
  .PageHero__subtitle {
    color: $color-white;

    @include desktop {
      max-width: 70%;
    }
  }

  .PageHero__title {
    font-weight: bold;
    font-size: 5rem;
    line-height: 6rem;
    // padding: 1rem;
    text-align: center;

    @include desktop {
      font-size: 8rem;
      line-height: 9rem;
      padding: 0;
      // padding-bottom: 4rem;
      padding-top: 5rem;
    }
  }

  .PageHero__secondtitle {
    // font-weight: bold;
    font-size: 3rem;
    line-height: 4rem;
    padding: 0;
    text-align: center;

    @include desktop {
      font-size: 4rem;
      line-height: 5rem;
      padding: 0;
      padding-bottom: 4rem;
    }
  }

  .PageHero__subtitle {
    // font-weight: bold;
    font-size: 3rem;
    line-height: 4rem;
    padding: 2rem;
    text-align: center;

    @include desktop {
      font-size: 4rem;
      line-height: 5rem;
      padding: 0;
      padding-bottom: 4rem;
    }
  }

  &.withImage {
    position: relative;
    h1 {
      position: absolute;
    }
  }

  .PageHero__img {
    max-height: 200px;
    width: 100%;
    object-fit: cover;
  }
}
