@import "styles/variables.scss";

.PageHero {
  @include desktop {
    padding-top: 6rem;
    text-align: center;
  }

  .Centered {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 2rem 0rem;
    @include desktop {
      align-items: center;
    }
  }

  .PageHero__title,
  .PageHero__subtitle {
    color: $color-white;

    @include desktop {
      max-width: 60%;
    }
  }

  .PageHero__title {
    font-weight: bold;
    font-size: 5rem;
    line-height: 6rem;
    padding: 0rem 5rem 0rem 1rem;

    @include desktop {
      font-size: 9rem;
      line-height: 10rem;
      padding: 0;
      padding-bottom: 4rem;
      padding-top: 5rem;
    }
  }

  .PageHero__subtitle {
    // font-weight: bold;
    font-size: 3rem;
    line-height: 4rem;
    padding: 2rem 5rem 2rem 1rem;

    @include desktop {
      font-size: 4rem;
      line-height: 5rem;
      padding: 0;
      padding-bottom: 4rem;
    }
  }

  &.withImage {
    position: relative;
    h1 {
      position: absolute;
    }
  }

  .PageHero__img {
    max-height: 200px;
    width: 100%;
    object-fit: cover;
  }
}
