@import "variables";
@import "animations";

html {
  font-size: 62.5%;
}
body {
  font-size: 1.4rem;
} /* =14px */
h1 {
  font-size: 2.4rem;
} /* =24px */

p {
  font-size: 1.8rem;
  line-height: 2.2rem;
  padding-bottom: 1rem;

  span {
    font-weight: bold;
  }
}

#App {
  background-color: grey;
  font-family: "Montserrat", sans-serif;
}

#main-container {
  box-shadow: black 0px 0px 50px 0px;
  background-color: $color-white;
  // max-height: 100vh;
  overflow: auto;
  background-image: url("~assets/images/bg-skyscrapers3.jpg");
  background-attachment: fixed;
  background-position: center;
}

#page-container {
  min-width: 320px;
  width: 100%;
  // background-color: rgba(255, 255, 255, 0.9);
}
