@import "variables";
@import "animations";

html {
  font-size: 62.5%;
}
body {
  font-size: 1.4rem;
} /* =14px */
h1 {
  font-size: 2.4rem;
} /* =24px */

#App {
  background-color: $color-brown;
  font-family: "Montserrat", sans-serif;
}

#main-container {
  background-color: $color-white;
  height: 100vh;
  overflow: auto;
}

#page-container {
  margin: 0 auto;
  max-width: 1000px;
  background-color: rgba(255, 255, 255, 0.788);
  background-image: url("/images/bg-skyscrapers3.jpg");
  background-position: bottom;
}

.device-tester {
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 40px;
  height: 40px;
  @include mobile {
    background-color: pink;
  }
  @include tablet {
    background-color: orange;
  }
  @include desktop {
    background-color: red;
  }
}
