$color-gold: rgb(221, 165, 32);
$color-gold-opacity: rgba(221, 164, 32, 0.74);
$color-gold-hover: rgb(214, 160, 32);
$color-brown: rgb(51, 25, 0);
$color-beige: rgb(255, 251, 204);
$color-white: white;
$color-white-hover: rgb(247, 247, 247);

$breakpoint-mobile: 320px;
$breakpoint-mobile-landscape: 480px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-landscape: 1024px;
$breakpoint-desktop: 1200px;
$breakpoint-desktop-large: 1500px;
$breakpoint-dekstop-wide: 1920px;

@mixin mobile {
  @media (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}
