@import "styles/variables.scss";

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 1rem;
  top: 2rem;

  @include desktop {
    display: none;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $color-gold;
  border: 1px solid $color-white;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: $color-gold;
}

/* General sidebar styles */
.bm-menu {
  background: #190101cc;
  padding: 2rem 0rem 0rem 2rem;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

.menu-title {
  color: $color-gold;
  border-bottom: 3px solid $color-brown;
  font-size: 3rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

/* Individual item */
a.bm-item {
  color: $color-white;
  text-decoration: none;
  font-size: 3rem;
  line-height: 5rem;
  margin-bottom: 1rem;
  // background-color: $color-beige;
  padding-left: 1rem;
  // font-weight: bold;
  // box-shadow: inset 0px 2.5rem 0px 0px $color-white;

  &.active {
    color: $color-white;
    font-weight: bold;
    border-left: 0.5rem solid $color-gold;
  }
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
