@import "styles/variables.scss";

.Section {
  padding: 2rem;
  background-color: $color-white;

  @include desktop {
    padding: 2rem;
  }

  &:hover {
    .SectionTitleDecoration {
      background-color: $color-gold;
      margin-left: 1rem;
    }
  }

  .Centered > p {
    text-align: justify;

    span {
      font-weight: bold;
    }
  }
}
