@import "styles/variables.scss";
footer {
  background-color: $color-brown;
  text-align: center;
  color: $color-white;
}

.Footer {
  padding: 2rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: justify;

  p {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }

  p:last-child {
    border-bottom: 0px;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
