@import "styles/variables.scss";
footer {
  background-color: $color-brown;
  min-height: 200px;
  text-align: center;

  color: $color-white;
}

.Footer {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
