@import "styles/variables.scss";

.DesktopMenu {
  // display: none;
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $color-white;
  padding: 0rem 0rem;

  @include desktop {
    margin-top: -6rem;
    transition-duration: 0.5s;
    display: flex;
    flex-direction: row;
    justify-content: right;

    &.revealed {
      margin-top: 0;
    }
  }

  .DesktopMenu__content {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .logo-desktop {
      margin-right: auto;
      padding: 0;
      display: flex;
      align-items: center;
      img {
        max-height: 6rem;
      }
      p {
        display: inline-block;
        max-width: 90px;
        padding: 0;
        color: $color-gold;
        font-weight: bold;
      }
    }

    a {
      display: none;
      @include desktop {
        display: block;
      }

      padding: 1rem;
      color: $color-brown;
      font-size: 2rem;
      margin-right: 1rem;
      text-decoration: none;
      transition-duration: 0.3s;

      &:hover {
        color: $color-gold;
      }

      &.active {
        color: $color-gold;
      }
    }

    a:last-child {
      display: none;
      @include desktop {
        display: flex;
      }

      background-color: $color-beige;
      color: $color-gold;
      font-weight: bold;
      border-radius: 0.5rem;

      svg {
        margin-right: 1rem;
      }
      &:hover {
        color: $color-white;
        background-color: $color-gold;
      }

      &.active {
        color: $color-white;
        background-color: $color-gold;
      }
    }
  }
}
